@font-face
	font-family: 'BebasNeueBook'
	src: url("fonts/BebasNeueBook.eot"), url("fonts/BebasNeueBook.woff") format("woff"), url("fonts/BebasNeueBook.otf") format("opentype"), url("fonts/BebasNeueBook.svg#filename") format("svg")
@import "bourbon/bourbon"
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100)

body
	$color1: #1abc9c
	overflow-x: hidden!important


	// The important responsive codes for the facebook page plugin

	.fb_iframe_widget span
		overflow: initial!important

	.fb_iframe_widget iframe
		width: 500px!important
		height: 500px!important

	.iframe
		max-width: 505px
		margin: 110px auto 0px auto
		height: 260px	    
    		

	@media screen and (min-width: 1075px)
		.fb_iframe_widget iframe
			width: 350px!important
			height: 500px!important	

	@media screen and (min-width: 992px)
		.fb_iframe_widget iframe
			width: 360px!important
			height: 500px!important		

	@media screen and (max-width: 500px)
	    
		.fb_iframe_widget iframe
			width: 95vw!important
			height: 500px!important	
																

	//NAVIGATION SECTION

	nav
		background-color: #000!important
		border: none!important
		border-radius: 0px!important
		padding: 10px 22px 4px 45px 
		margin-bottom: -20px!important

		.navbar-header
			padding: 5px 0px

		.navbar-collapse
			li
				padding: 10px 15px

				a
					color: #ffffff!important
					text-transform: uppercase
					padding: 0!important
					padding-bottom: 3px!important
					font-family: 'BebasNeueBook', sans-serif
					font-size: 20px

					&:hover
						border-bottom: 1px solid red

				.active
					border-bottom: 1px solid red

	//THE TOP SECTION WITH BACKGROUND AND ALL THOSE CRICKET PHOTOS				

	.top-sec
		min-height: 488px
		background-color: $color1
		position: relative

		h2
			text-align: center
			color: #000!important
			font-family: 'BebasNeueBook', sans-serif
			font-size: 37.5px
			padding-top: 16px

			span
				font-size: 60px
				color: #ffffff
				font-family: 'Lobster', cursive
				text-shadow: 2px 2px 0px #736f6b

				sup
					text-transform: lowercase
					text-shadow: 1px 0px 0px #aaa
					font-size: 40px

		.texas
			position: absolute
			text-align: center
			color: #fff
			text-transform: capitalize
			left: 33%
			top: 10px
			font-size: 18px

			a
				color: #ffffff
				text-decoration: underline

				&:hover
					color: #393e3e
					transition: all 0.2s ease-in-out


	

		img.win
			position: relative
			left: 50%
			margin-left: -30px

		.bottom-part
			@include display(flex)
			@include align-items(flex-end)
			@include justify-content(space-between)
			flex-wrap: wrap
			min-height: 290px
			padding: 0px 50px 0px 43px

			.bowling-side
				@include display(flex)
				align-items: flex-end

				img
					margin-right: 22px

				.wicket
					height: 90px
					width: 7px
					background-color: #000

			.batting-side
				@include display(flex)
				@include align-items(baseline)

				.wicket
					height: 90px
					width: 7px
					background-color: #000
					margin: 0px 25px

	//SLIDER INSIDE THE LAPTOP . COOL HUH!!

	.slider-container
		max-height: 342px
		height: 100%
		max-width: 608px
		width: 100%
		background-position: center center
		background-repeat: no-repeat
		position: absolute
		top: 310px
		left: 50%
		margin-left: -304px	

		#slider
			min-height: 259px
			max-width: 416px
			width: 100%
			margin: 30px auto 0px auto

			.container
				max-width: inherit

				.carousel-indicators
					position: absolute
					bottom: -115px

					li
						height: 20px
						width: 20px
						border: 2px solid $color1
						transition: all 0.2s ease-in-out

					.active
						background-color: $color1!important
						width: 20px!important
						height: 20px!important
						margin: 1px!important

				.carousel-inner
					.item
						font-family: 'Roboto', sans-serif
						height: 259px
						overflow-y: hidden

						h2
							text-transform: uppercase
							text-align: center
							color: #000
							margin-bottom: 30px

						.contents-low
							text-transform: normal
							background-color: #c3c0bd	
							margin-bottom: 10px	
							padding: 6px 5px
							text-align: center
							color: #000
							font-size: 29px	
							font-weight: 300 		
							border-radius: 20px 
							height: auto

						p
							height: auto		
							text-transform: capitalize
							padding: 15px 8px

						.res-tit
							margin-bottom: 15px!important	

						.small-res
							font-family: 'Roboto', sans-serif

							span.top-text
								color: #aaa8a8
								font-size: 12px
								text-transform: uppercase

							h2
								color: #000
								font-size: 16px
								text-align: left
								font-weight: 400
								margin: 10px 0 15px 0!important


								span
									color: #000
									font-weight: 300
									

								span.br-text
									font-size: 16px
									text-transform: lowercase
									margin-bottom: 0px!important

							.result-btm	
								font-size: 16px
								padding: 10px 10px
								width: 100%
								background-color: #ebe6e6
								font-weight: 300
								margin: 10px 0 0 0
								border-radius: 5px


	//THE PARAGRAPH UNDER LAPTOP SLIDER, NOT SO COOL
							
	.paras
		margin-top: 150px
		margin-bottom: 70px

		p
			text-align: center
			text-transform: lowercase
			font-family: 'Roboto', sans-serif
			font-weight: 300
			color: #020100
			font-size: 24px

	//The hexagons with containers and everything
	
	.hexagons
		margin-bottom: 10px

		.left-hexagons
			.nav-tabs
				border: none
				+display(flex)
				+justify-content(space-between)

				li
					padding: 0px 15px

					a
						color: #000!important
						border: none
						text-align: center
						font-family: 'Roboto', sans-serif
						font-size: 20px
						cursor: pointer
						padding: 5px!important
						outline: none!important

						&:hover
							background-color: #ffffff!important

						#triangle-top1
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid #6598e6
							border-right: 56px solid transparent

						#triangle-top2
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid #f8cd12
							border-right: 56px solid transparent

						#triangle-top3
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid $color1
							border-right: 56px solid transparent

						#triangle-top4
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid #e67624
							border-right: 56px solid transparent

						.object1
							width: 113px
							height: 65px
							background-color: #6598e6
							padding: 8px 0px
							color: #ffffff

						.object2
							width: 113px
							height: 65px
							background-color: #f8cd12
							padding: 8px 0px
							color: #ffffff
							font-size: 43px

						.object3
							width: 113px
							height: 65px
							background-color: $color1
							padding: 8px 0px
							color: #ffffff
							font-size: 43px

						.object4
							width: 113px
							height: 65px
							background-color: #e67624
							padding: 8px 0px
							color: #ffffff
							font-size: 43px

						#triangle-bottom1
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid #6598e6
							border-right: 56px solid transparent

						#triangle-bottom2
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid #f8cd12
							border-right: 56px solid transparent

						#triangle-bottom3
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid $color1
							border-right: 56px solid transparent

						#triangle-bottom4
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid #e67624
							border-right: 56px solid transparent

				.active
					border-bottom: 1px solid #790000!important

			.tab-content
				margin-top: 30px

				.tab-pane
					.back-grey
						background-color: #e8e8e8
						width: 100%
						max-height: 1000px
						height: auto


						.top-two
							+display(flex)
							+justify-content(space-around)
							text-transform: uppercase
							font-family: 'Roboto', sans-serif
							font-weight: 300
							margin-bottom: 40px
							padding-top: 20px

							h2
								font-size: 35px
								font-weight: 100
								color: #949191
								margin-bottom: 30px

							ol
								padding-left: 30px!important

								li
									font-size: 16px
									color: #706e6e
									margin-bottom: 7px
									width: 200px
									word-wrap: break-word

							div:nth-child(2)
								width: 1px
								height: auto
								background-color: #949191
								margin: 20px 0px

						.border-middle
							+display(flex)
							+justify-content(space-around)
							margin-bottom: 15px	

							div
								height: 1px
								width: 90%
								background-color: #949191
								margin: 0px 30px

						.bottom-two
							+display(flex)
							+justify-content(space-around)
							text-transform: uppercase
							font-family: 'Roboto', sans-serif
							font-weight: 300
							padding-bottom: 30px

							h2
								font-size: 35px
								font-weight: 100
								color: #949191
								margin-bottom: 30px

							ol
								padding-left: 30px!important

								li
									font-size: 16px
									color: #706e6e
									margin-bottom: 7px
									width: 200px
									word-wrap: break-word

							div:nth-child(2)
								width: 1px
								height: auto
								background-color: #949191
								margin: 20px 0px

						.news-short
							font-family: 'Roboto', sans-serif
							font-weight: 300
							padding: 0.5px 20px
							margin-bottom: 25px
							background-color: rgba(#cac9c9, 0.3)

							&:first-child
								margin-top: 10px

							h3
								font-size: 20px
								text-transform: capitalize
								color: #5b5656

							span
								font-size: 14px
								margin-bottom: 10px
								color: #206bde

								i
									margin-right: 5px

					.total-flexbox				
						+display(flex)
						+flex-direction(column)
						+align-items(space-around)
						height: 625px
						overflow-y: scroll
						overflow-x: hidden

						.one-fix
							background-color: rgba(#cac9c9, 0.3)
							padding: 0px 20px 25px 20px!important
							margin: 0px 0px 16px 0px!important
							text-transform: capitalize

							h3
								span
									text-transform: lowercase
									color: #5b5656

							&:last-child
								margin-bottom: 0px!important

							p
								color: #206bde
								margin: 0 0 0!important

							i
								text-transform: lowercase
								font-size: 12px 
								color: #999999	

					.total-flexboxl				
						+display(flex)
						+flex-direction(column)
						+align-items(space-around)
						max-height: 625px
						overflow-y: scroll
						overflow-x: hidden

						.one-result
							padding: 0px 20px
							margin: 0px 0px 18px 0px
							background-color: rgba(#cac9c9, 0.3)
							a
								text-decoration: none
								color: #6F736E!important
								font-family: 'Roboto', sans-serif

								&:hover
									color: $color1!important
									transition: all 0.1s ease-in-out

								h2
									font-size: 20px
									text-transform: capitalize

									span
										text-transform: lowercase
										color: #6F736E

									i
										font-size: 16px

							p
								text-transform: capitalize
								font-family: 'Roboto', sans-serif
								font-weight: 300
								font-size: 18px

							&:last-child
								margin-bottom: 0!important 		


										
	
		.right-stuff
			padding-top: 201px

			#slider1
				background-color: #e88033

				#slider-carousel1
					padding: 20px 10px 50px 10px
					display: flex
					flex-direction: column-reverse

					.carousel-indicators
						display: none

					.carousel-inner
						z-index: 4
						margin-top: -55px

						.item
							min-height: 238px

							.heading
								text-align: center
								color: #ffffff
								padding: 0px!important
								margin: 0px 0px 20px 0px!important

							table
								color: #fff
								font-family: 'Roboto', sans-serif
								font-weight: 100
								width: 100%!important

								tr
									text-align: center
									border-bottom: 1px dashed #bc733f
									width: 100%

									h4
										font-weight: 100
										font-size: 20px

									td
										text-align: center
										margin: 5px 5px 8px 0px
										padding: 6px 6px
										max-width: 60px

									&:last-child
										border-bottom: none

								&:first-child
									margin-bottom: 30px	

					.carousel-controls
						max-width: 90%
						margin: 0 auto!important
						background-color: #b4672f
						padding: 10px 20px
						width: 100%
						display: flex
						justify-content: space-between

						a
							color: #fff!important
							z-index: 10!important
							font-size: 20px
							outline: none!important


	//The footer

	.footer
		footer
			min-height: 100vh 
			background-size: cover
			width: 100%
			background-repeat: no-repeat
			font-family: 'Lato', sans-serif
			position: relative

			.container
				padding: 36px 0 0 0

				.top-two
					@include display(flex)
					@include justify-content(space-between)
					@include flex-wrap(wrap)

					.box-logos
						max-width: 275px
						width: 100%
						margin-bottom: 0px

						.box
							width: 100%
							text-align: center
							color: #fff
							font-size: 31px
							font-weight: 300
							background-color: #7cb375
							box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75)
							margin-bottom: 30px
							border-radius: 8px
							padding: 10px 0 10px 0
							text-transform: uppercase

						.image
							width: 100%

							img
								margin: 0 auto
								display: block!important

							.him
								margin-bottom: 20px	

						&:nth-child(2)
							.box
								margin-bottom: 50px		

				.bottom-one

					.box-logos
						max-width: 490px
						width: 100%
						margin: 0 auto

						.box
							max-width: 275px
							width: 100%
							text-align: center
							color: #fff
							font-size: 31px
							font-weight: 300
							background-color: #7cb375
							box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75)
							margin: 0 auto 34px auto
							border-radius: 8px
							padding: 10px 0 10px 0
							text-transform: uppercase

						.image	
							+display(flex)
							+justify-content(space-between)
							+flex-wrap(wrap)

							img
								margin-bottom: 30px

		
			.footer-bottom
				text-align: center
				text-transform: uppercase
				color: #ffffff
				font-weight: 400
				font-size: 24px
				position: absolute
				bottom: 0px		
				width: 100%		


	

	//NEXT PAGE-SCOREBOARD PAGE AND EVERYTHING
	
	.sboard
		clear: both
		background-color: #898a8a
		min-height: 100vh
		font-family: 'Lato', sans-serif

		.hed
			background-color: #ffffff
			padding: 10px 20px
			margin-bottom: 5px

		.resu
			background-color: #ffffff
			padding: 10px 20px
			margin-bottom: 10px
			font-size: 20px
			font-weight: 700

		.container-fluid
			.one-team
				.score-head
					color: #000
					font-size: 16px
					background-color: #d4d5d5
					padding: 5px 10px

					.name
					.score
						font-weight: 700

					.overs

				table
					width: 100%
					min-height: 300px
					border-spacing: 15px
					text-align: left

					thead
						color: #ffffff

						tr
							td
								padding: 5px 10px
					tbody
						tr
							background-color: #fff
						
							td
								padding: 5px 12px!important

								&:first-child
									font-weight: 700

						.wicket-take
							background-color: #e9ecec
							width: 100%		
							text-align: left
							font-weight: 400

							td
								&:first-child
									font-weight: 400

				.extras
					background-color: #ffffff
					padding: 5px 10px
					width: 99.9%
					margin: 5px 0 5px 0
					border-bottom: 1px solid #abc

				.total
					background-color: #fff
					border-bottom: 1px solid #abc
					padding: 5px 10px
					width: 99.9%
					font-weight: 700

				.dnbat
					background-color: #fff
					border-bottom: 1px solid #abc
					padding: 5px 10px
					width: 99.9%	
					font-weight: 700
					margin: 5px 0 5px 0

					span
						font-weight: 400	
						margin-right: 20px

				.panel-group
					.panel-default
						.panel-heading
							width: 100%
							padding: 0px!important

							.panel-title
								width: 100%
								cursor: pointer
								padding: 10px 15px

								a
									text-decoration: none
									outline: none
									width: 100%

						.panel-collapse
							.panel-body
								table
									thead
										background-color: #898a8a

										tr
											td

									tbody
										tr
											text-transform: capitalize

										.dif
											background-color: #e9ecec

		









