@media screen and (max-width: 1200px) {
  .fb_iframe_widget span {
    overflow: initial !important; }

  table tr td h4 {
    font-size: 18px !important; }

  .right-stuff table tr td {
    font-size: 12px; } }
@media screen and (max-width: 992px) {
  table tr td {
    font-size: 18px !important; }
    table tr td h4 {
      font-size: 20px !important; }

  .iframe {
    margin: 30px auto 0px auto !important; }

  .tab-content {
    margin: 30px auto 0px auto !important; }

  .right-stuff {
    padding-top: 10px !important; }

  .carousel-controls {
    max-width: 95% !important; }

  footer {
    height: 900px !important; }
    footer .top-three .box-logos {
      margin: 0 auto 40px auto !important; }
    footer .bottom-one .box-logos .box {
      margin: 0 auto 34px auto !important; } }
@media screen and (max-width: 786px) {
  nav .navbar-header .logo {
    display: none; }
  nav .navbar-collapse {
    float: left !important; } }
@media screen and (max-width: 768px) {
  .navbar-collapse {
    float: right !important;
    border: none !important; }

  .slider-container {
    top: 320px !important; }
    .slider-container .carousel-inner {
      max-height: 259px !important; }

  .top-sec .bottom-part {
    display: none !important; }

  .carousel-indicators {
    bottom: -100px !important; }

  .left-hexagons .panel-group .panel {
    border-radius: none !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important; }
  .left-hexagons .panel-group .panel-default {
    border-color: #fff !important; }
    .left-hexagons .panel-group .panel-default .panel-heading {
      padding: 3px 0px !important;
      display: flex !important;
      justify-content: center !important;
      text-align: center !important;
      font-size: 18px !important; }
      .left-hexagons .panel-group .panel-default .panel-heading a {
        outline: none !important; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-top1 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-bottom: 35px solid #6598e6;
          border-right: 56px solid transparent; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-top2 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-bottom: 35px solid #f8cd12;
          border-right: 56px solid transparent; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-top3 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-bottom: 35px solid #1abc9c;
          border-right: 56px solid transparent; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-top4 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-bottom: 35px solid #e67624;
          border-right: 56px solid transparent; }
        .left-hexagons .panel-group .panel-default .panel-heading a .object1 {
          width: 113px;
          height: 65px;
          background-color: #6598e6;
          padding: 11px 0px;
          color: #ffffff;
          font-size: 43px;
          text-align: center; }
        .left-hexagons .panel-group .panel-default .panel-heading a .object2 {
          width: 113px;
          height: 65px;
          background-color: #f8cd12;
          padding: 11px 0px;
          color: #ffffff;
          font-size: 43px;
          text-align: center; }
        .left-hexagons .panel-group .panel-default .panel-heading a .object3 {
          width: 113px;
          height: 65px;
          background-color: #1abc9c;
          padding: 11px 0px;
          color: #ffffff;
          font-size: 43px;
          text-align: center; }
        .left-hexagons .panel-group .panel-default .panel-heading a .object4 {
          width: 113px;
          height: 65px;
          background-color: #e67624;
          padding: 11px 0px;
          color: #ffffff;
          font-size: 43px;
          text-align: center; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-bottom1 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-top: 35px solid #6598e6;
          border-right: 56px solid transparent; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-bottom2 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-top: 35px solid #f8cd12;
          border-right: 56px solid transparent; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-bottom3 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-top: 35px solid #1abc9c;
          border-right: 56px solid transparent; }
        .left-hexagons .panel-group .panel-default .panel-heading a #triangle-bottom4 {
          width: 0;
          height: 0;
          border-left: 56px solid transparent;
          border-top: 35px solid #e67624;
          border-right: 56px solid transparent; }
    .left-hexagons .panel-group .panel-default .panel-collapse .panel-body {
      padding: 0px !important; }
      .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey {
        background-color: #e8e8e8;
        width: 100%;
        height: auto; }
        .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .top-two {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          margin-bottom: 20px;
          padding-top: 10px; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .top-two h2 {
            font-size: 30px;
            font-weight: 100;
            color: #949191;
            margin-bottom: 20px; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .top-two ol {
            padding-left: 30px !important; }
            .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .top-two ol li {
              font-size: 16px;
              color: #706e6e;
              margin-bottom: 7px;
              max-width: 150px;
              word-wrap: break-word; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .top-two div:nth-child(2) {
            width: 1px;
            height: auto;
            background-color: #949191;
            margin: 20px 0px;
            display: none; }
        .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .border-middle {
          display: flex;
          justify-content: space-around;
          margin-bottom: 15px;
          display: none; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .border-middle div {
            height: 0px;
            width: 90%;
            background-color: #949191; }
        .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .bottom-two {
          display: flex;
          justify-content: space-around;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          padding-bottom: 10px; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .bottom-two h2 {
            font-size: 30px;
            font-weight: 100;
            color: #949191;
            margin-bottom: 20px; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .bottom-two ol {
            padding-left: 30px !important; }
            .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .bottom-two ol li {
              font-size: 16px;
              color: #706e6e;
              margin-bottom: 7px;
              max-width: 150px;
              word-wrap: break-word; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .bottom-two div:nth-child(2) {
            width: 1px;
            height: auto;
            background-color: #949191;
            margin: 20px 0px;
            display: none; }
        .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey .news-short {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          padding: 0.5px 20px;
          margin-bottom: 25px;
          background-color: rgba(202, 201, 201, 0.3); }
        .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey:first-child {
          margin-top: 10px; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey:first-child h3 {
            font-size: 20px;
            text-transform: capitalize;
            color: #5b5656; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey:first-child span {
            font-size: 14px;
            margin-bottom: 10px;
            color: #206bde; }
            .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .back-grey:first-child span i {
              margin-right: 5px; }
      .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .total-flexbox {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        height: 650px;
        overflow-y: scroll;
        overflow-x: hidden; }
        .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .total-flexbox .one-fix {
          background-color: rgba(202, 201, 201, 0.3);
          padding: 2px 20px 25px 20px;
          margin-bottom: 20px; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .total-flexbox .one-fix h3 {
            padding: 0px !important; }
            .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .total-flexbox .one-fix h3 span {
              text-transform: lowercase;
              color: #5b5656; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .total-flexbox .one-fix:last-child {
            margin-bottom: 0px !important; }
          .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .total-flexbox .one-fix p {
            color: #206bde;
            margin: 0 0 0 !important; }
        .left-hexagons .panel-group .panel-default .panel-collapse .panel-body .total-flexbox i {
          text-transform: lowercase;
          font-size: 12px;
          color: #999999; }
    .left-hexagons .panel-group .panel-default .panel-collapse .total-flexboxl {
      display: flex;
      flex-direction: column;
      align-items: space-around;
      max-height: 650px;
      overflow-y: scroll;
      overflow-x: hidden; }
    .left-hexagons .panel-group .panel-default .panel-collapse .one-result {
      padding: 0px 20px;
      margin: 0px 0px 18px 0px;
      background-color: rgba(202, 201, 201, 0.3); }
      .left-hexagons .panel-group .panel-default .panel-collapse .one-result a {
        text-decoration: none;
        color: #6F736E !important;
        font-family: "Roboto", sans-serif; }
        .left-hexagons .panel-group .panel-default .panel-collapse .one-result a:hover {
          color: #1abc9c !important;
          transition: all 0.3s ease-in-out; }
        .left-hexagons .panel-group .panel-default .panel-collapse .one-result a h2 {
          font-size: 20px;
          text-transform: capitalize; }
          .left-hexagons .panel-group .panel-default .panel-collapse .one-result a h2 span {
            text-transform: lowercase;
            color: #6F736E; }
          .left-hexagons .panel-group .panel-default .panel-collapse .one-result a h2 i {
            font-size: 16px; }
      .left-hexagons .panel-group .panel-default .panel-collapse .one-result p {
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 18px; }
      .left-hexagons .panel-group .panel-default .panel-collapse .one-result:last-child {
        margin-bottom: 0 !important; }
      .left-hexagons .panel-group .panel-default .panel-collapse .one-result .total-flexbox {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        height: 650px;
        overflow-y: scroll;
        overflow-x: hidden; } }
@media screen and (max-width: 680px) {
  footer {
    height: 1000px !important; }
    footer .bottom-one .image {
      max-width: 391px !important;
      margin: 0 auto !important; }
      footer .bottom-one .image img {
        margin: 0 auto 30px auto !important; }
      footer .bottom-one .image .last-onel {
        width: 300px !important;
        height: 72px !important; } }
@media screen and (max-width: 608px) {
  .slider-container {
    max-width: 450px !important;
    margin-left: -225px !important; }

  .top-two {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .bottom-two {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
@media screen and (max-width: 550px) {
  footer {
    height: 1200px !important; } }
@media screen and (max-width: 458px) {
  .news-short h3 {
    font-size: 18px !important; }
  .news-short span {
    font-size: 13px !important; }

  table tr td {
    font-size: 14px !important; }
    table tr td h4 {
      font-size: 18px !important; }

  .slider-container {
    max-width: 320px !important;
    margin-left: -160px !important; } }
@media screen and (max-width: 357px) {
  .right-stuff table tr td {
    font-size: 12px !important; } }
@media screen and (max-width: 342px) {
  .carousel-inner .item .res-tit {
    margin: 20px 0 10px 0 !important; }
  .carousel-inner .item .small-res span.top-text {
    font-size: 11px !important; }
  .carousel-inner .item .small-res .result-btm {
    font-size: 13px !important; } }
@media screen and (max-width: 340px) {
  .slider-container {
    max-width: 240px !important;
    margin-left: -120px !important; }

  .carousel-inner .item {
    font-size: 14px !important; }
    .carousel-inner .item h2 {
      font-size: 19px;
      margin: 60px 0 30px 0 !important; }
    .carousel-inner .item .contents-low {
      font-size: 16px !important; }

  .top-sec h2 {
    font-size: 24px !important; }
    .top-sec h2 span {
      font-size: 40px !important; }
      .top-sec h2 span sup {
        font-size: 25px !important; }

  .paras p {
    padding: 0px 18px; } }

/*# sourceMappingURL=responsive.css.map */
