$color1: #1abc9c

@media screen and (max-width: 1200px)
	.fb_iframe_widget span
		overflow: initial!important

	table
		tr
			td
				h4
					font-size: 18px!important	

	.right-stuff
		table
			tr
				td
					font-size: 12px						

@media screen and (max-width: 992px)	

	table
		tr
			td
				font-size: 18px!important

				h4
					font-size: 20px!important

	.iframe
		margin: 30px auto 0px auto!important

	.tab-content
		margin: 30px auto 0px auto!important

	.right-stuff
		padding-top: 10px!important

	.carousel-controls
		max-width: 95%!important

	footer
		height: 900px!important

		.top-three
			.box-logos
				margin: 0 auto 40px auto!important

		.bottom-one
			.box-logos
				.box
					margin: 0 auto 34px auto!important	



@media screen and (max-width: 786px)
	nav
		.navbar-header
			.logo
				display: none

		.navbar-collapse
			float: left!important


@media screen and (max-width: 768px)
	.navbar-collapse
		float: right!important		
		border: none!important

	.slider-container
		top: 320px!important

		.carousel-inner
			max-height: 259px!important

	.top-sec
		.bottom-part
			display: none!important

	.carousel-indicators
		bottom: -100px!important

	.left-hexagons
		.panel-group
			.panel
				border-radius: none!important
				margin-bottom: 0px!important
				box-shadow: none!important
				-webkit-box-shadow: none!important
				-moz-box-shadow: none!important
				-ms-box-shadow: none!important
				-o-box-shadow: none!important

			.panel-default
				border-color: #fff!important

				.panel-heading
					padding: 3px 0px!important
					display: flex!important
					justify-content: center!important
					text-align: center!important
					font-size: 18px!important

					a
						outline: none!important
						
						#triangle-top1
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid #6598e6
							border-right: 56px solid transparent

						#triangle-top2
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid #f8cd12
							border-right: 56px solid transparent

						#triangle-top3
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid $color1
							border-right: 56px solid transparent

						#triangle-top4
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-bottom: 35px solid #e67624
							border-right: 56px solid transparent

						.object1
							width: 113px
							height: 65px
							background-color: #6598e6
							padding: 11px 0px
							color: #ffffff
							font-size: 43px
							text-align: center

						.object2
							width: 113px
							height: 65px
							background-color: #f8cd12
							padding: 11px 0px
							color: #ffffff
							font-size: 43px
							text-align: center

						.object3
							width: 113px
							height: 65px
							background-color: $color1
							padding: 11px 0px
							color: #ffffff
							font-size: 43px
							text-align: center

						.object4
							width: 113px
							height: 65px
							background-color: #e67624
							padding: 11px 0px
							color: #ffffff
							font-size: 43px
							text-align: center

						#triangle-bottom1
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid #6598e6
							border-right: 56px solid transparent

						#triangle-bottom2
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid #f8cd12
							border-right: 56px solid transparent

						#triangle-bottom3
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid $color1
							border-right: 56px solid transparent

						#triangle-bottom4
							width: 0
							height: 0
							border-left: 56px solid transparent
							border-top: 35px solid #e67624
							border-right: 56px solid transparent

				.panel-collapse
					.panel-body
						padding: 0px!important

						.back-grey
							background-color: #e8e8e8
							width: 100%
							height: auto

							.top-two
								display: flex
								flex-wrap: wrap
								justify-content: space-around
								text-transform: uppercase
								font-family: 'Roboto', sans-serif
								font-weight: 300
								margin-bottom: 20px
								padding-top: 10px

								h2
									font-size: 30px
									font-weight: 100
									color: #949191
									margin-bottom: 20px

								ol
									padding-left: 30px!important

									li
										font-size: 16px
										color: #706e6e
										margin-bottom: 7px
										max-width: 150px
										word-wrap: break-word

								div:nth-child(2)
									width: 1px
									height: auto
									background-color: #949191
									margin: 20px 0px
									display: none

							.border-middle
								display: flex
								justify-content: space-around
								margin-bottom: 15px	
								display: none

								div
									height: 0px
									width: 90%
									background-color: #949191

							.bottom-two
								display: flex
								justify-content: space-around
								text-transform: uppercase
								font-family: 'Roboto', sans-serif
								font-weight: 300
								padding-bottom: 10px

								h2
									font-size: 30px
									font-weight: 100
									color: #949191
									margin-bottom: 20px

								ol
									padding-left: 30px!important

									li
										font-size: 16px
										color: #706e6e
										margin-bottom: 7px
										max-width: 150px
										word-wrap: break-word

								div:nth-child(2)
									width: 1px
									height: auto
									background-color: #949191
									margin: 20px 0px
									display: none

							.news-short
								font-family: 'Roboto', sans-serif
								font-weight: 300
								padding: 0.5px 20px
								margin-bottom: 25px
								background-color: rgba(#cac9c9, 0.3)

							&:first-child
								margin-top: 10px

								h3
									font-size: 20px
									text-transform: capitalize
									color: #5b5656

								span
									font-size: 14px
									margin-bottom: 10px
									color: #206bde

									i
										margin-right: 5px

						.total-flexbox				
							display: flex
							flex-direction: column
							align-items: space-around
							height: 650px
							overflow-y: scroll
							overflow-x: hidden				

							.one-fix
								background-color: rgba(#cac9c9, 0.3)
								padding: 2px 20px 25px 20px
								margin-bottom: 20px

								h3
									padding: 0px!important

									span
										text-transform: lowercase
										color: #5b5656

								&:last-child
									margin-bottom: 0px!important

								p
									color: #206bde
									margin: 0 0 0!important

							i
								text-transform: lowercase
								font-size: 12px 
								color: #999999		

					.total-flexboxl				
						display: flex
						flex-direction: column
						align-items: space-around
						max-height: 650px
						overflow-y: scroll
						overflow-x: hidden

					.one-result
						padding: 0px 20px
						margin: 0px 0px 18px 0px
						background-color: rgba(#cac9c9, 0.3)
						a
							text-decoration: none
							color: #6F736E!important
							font-family: 'Roboto', sans-serif

							&:hover
								color: $color1!important
								transition: all 0.3s ease-in-out

							h2
								font-size: 20px
								text-transform: capitalize

								span
									text-transform: lowercase
									color: #6F736E

								i
									font-size: 16px

						p
							text-transform: capitalize
							font-family: 'Roboto', sans-serif
							font-weight: 300
							font-size: 18px

						&:last-child
							margin-bottom: 0!important 						 	

						.total-flexbox		
							display: flex
							flex-direction: column
							align-items: space-around
							height: 650px
							overflow-y: scroll
							overflow-x: hidden			
											
@media screen and (max-width: 680px)
	footer
		height: 1000px!important

		.bottom-one
			.image
				max-width: 391px!important
				margin: 0 auto!important

				img
					margin: 0 auto 30px auto!important

				.last-onel
					width: 300px!important
					height: 72px!important

@media screen and (max-width: 608px)
	.slider-container
		max-width: 450px!important
		margin-left: -225px!important

	.top-two
		flex-direction: column
		justify-content: center
		align-items: center

	.bottom-two
		flex-direction: column
		justify-content: center
		align-items: center	

@media screen and (max-width: 550px)
	footer
		height: 1200px!important

@media screen and (max-width: 458px)

	.news-short
		h3
			font-size: 18px!important

		span
			font-size: 13px!important

	table
		tr
			td
				font-size: 14px!important

				h4
					font-size: 18px!important

	.slider-container
		max-width: 320px!important
		margin-left: -160px!important


@media screen and (max-width: 357px)
	.right-stuff
		table
			tr
				td
					font-size: 12px!important		

@media screen and (max-width: 342px)
	.carousel-inner
		.item
			.res-tit
				margin: 20px 0 10px 0!important

			.small-res
				span.top-text
					font-size: 11px!important

				.result-btm
					font-size: 13px!important
					


@media screen and (max-width: 340px)
	.slider-container
		max-width: 240px!important
		margin-left: -120px!important			

	.carousel-inner
		.item
			h2
				font-size: 19px
				margin: 60px 0 30px 0!important

			.contents-low
				font-size: 16px!important

			p
			font-size: 14px!important

	.top-sec
		h2
			font-size: 24px!important
			span
				font-size: 40px!important
				sup	
					font-size: 25px!important

	.paras
		p
			padding: 0px 18px

