@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@font-face {
  font-family: "BebasNeueBook";
  src: url("fonts/BebasNeueBook.eot"), url("fonts/BebasNeueBook.woff") format("woff"), url("fonts/BebasNeueBook.otf") format("opentype"), url("fonts/BebasNeueBook.svg#filename") format("svg"); }
body {
  overflow-x: hidden !important; }
  body .fb_iframe_widget span {
    overflow: initial !important; }
  body .fb_iframe_widget iframe {
    width: 500px !important;
    height: 500px !important; }
  body .iframe {
    max-width: 505px;
    margin: 110px auto 0px auto;
    height: 260px; }
  @media screen and (min-width: 1075px) {
    body .fb_iframe_widget iframe {
      width: 350px !important;
      height: 500px !important; } }
  @media screen and (min-width: 992px) {
    body .fb_iframe_widget iframe {
      width: 360px !important;
      height: 500px !important; } }
  @media screen and (max-width: 500px) {
    body .fb_iframe_widget iframe {
      width: 95vw !important;
      height: 500px !important; } }
  body nav {
    background-color: #000 !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 10px 22px 4px 45px;
    margin-bottom: -20px !important; }
    body nav .navbar-header {
      padding: 5px 0px; }
    body nav .navbar-collapse li {
      padding: 10px 15px; }
      body nav .navbar-collapse li a {
        color: #ffffff !important;
        text-transform: uppercase;
        padding: 0 !important;
        padding-bottom: 3px !important;
        font-family: "BebasNeueBook", sans-serif;
        font-size: 20px; }
        body nav .navbar-collapse li a:hover {
          border-bottom: 1px solid red; }
      body nav .navbar-collapse li .active {
        border-bottom: 1px solid red; }
  body .top-sec {
    min-height: 488px;
    background-color: #1abc9c;
    position: relative; }
    body .top-sec h2 {
      text-align: center;
      color: #000 !important;
      font-family: "BebasNeueBook", sans-serif;
      font-size: 37.5px;
      padding-top: 16px; }
      body .top-sec h2 span {
        font-size: 60px;
        color: #ffffff;
        font-family: "Lobster", cursive;
        text-shadow: 2px 2px 0px #736f6b; }
        body .top-sec h2 span sup {
          text-transform: lowercase;
          text-shadow: 1px 0px 0px #aaa;
          font-size: 40px; }
    body .top-sec .texas {
      position: absolute;
      text-align: center;
      color: #fff;
      text-transform: capitalize;
      left: 33%;
      top: 10px;
      font-size: 18px; }
      body .top-sec .texas a {
        color: #ffffff;
        text-decoration: underline; }
        body .top-sec .texas a:hover {
          color: #393e3e;
          transition: all 0.2s ease-in-out; }
    body .top-sec img.win {
      position: relative;
      left: 50%;
      margin-left: -30px; }
    body .top-sec .bottom-part {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -moz-box-align: end;
      box-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      align-items: flex-end;
      -ms-flex-align: end;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      flex-wrap: wrap;
      min-height: 290px;
      padding: 0px 50px 0px 43px; }
      body .top-sec .bottom-part .bowling-side {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-end; }
        body .top-sec .bottom-part .bowling-side img {
          margin-right: 22px; }
        body .top-sec .bottom-part .bowling-side .wicket {
          height: 90px;
          width: 7px;
          background-color: #000; }
      body .top-sec .bottom-part .batting-side {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -moz-box-align: baseline;
        box-align: baseline;
        -webkit-align-items: baseline;
        -moz-align-items: baseline;
        -ms-align-items: baseline;
        -o-align-items: baseline;
        align-items: baseline;
        -ms-flex-align: baseline; }
        body .top-sec .bottom-part .batting-side .wicket {
          height: 90px;
          width: 7px;
          background-color: #000;
          margin: 0px 25px; }
  body .slider-container {
    max-height: 342px;
    height: 100%;
    max-width: 608px;
    width: 100%;
    background-image: url(../images/laptop.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 310px;
    left: 50%;
    margin-left: -304px; }
    body .slider-container #slider {
      min-height: 259px;
      max-width: 416px;
      width: 100%;
      margin: 30px auto 0px auto; }
      body .slider-container #slider .container {
        max-width: inherit; }
        body .slider-container #slider .container .carousel-indicators {
          position: absolute;
          bottom: -115px; }
          body .slider-container #slider .container .carousel-indicators li {
            height: 20px;
            width: 20px;
            border: 2px solid #1abc9c;
            transition: all 0.2s ease-in-out; }
          body .slider-container #slider .container .carousel-indicators .active {
            background-color: #1abc9c !important;
            width: 20px !important;
            height: 20px !important;
            margin: 1px !important; }
        body .slider-container #slider .container .carousel-inner .item {
          font-family: "Roboto", sans-serif;
          height: 259px;
          overflow-y: hidden; }
          body .slider-container #slider .container .carousel-inner .item h2 {
            text-transform: uppercase;
            text-align: center;
            color: #000;
            margin-bottom: 30px; }
          body .slider-container #slider .container .carousel-inner .item .contents-low {
            text-transform: normal;
            background-color: #c3c0bd;
            margin-bottom: 10px;
            padding: 6px 5px;
            text-align: center;
            color: #000;
            font-size: 29px;
            font-weight: 300;
            border-radius: 20px;
            height: auto; }
          body .slider-container #slider .container .carousel-inner .item p {
            height: auto;
            text-transform: capitalize;
            padding: 15px 8px; }
          body .slider-container #slider .container .carousel-inner .item .res-tit {
            margin-bottom: 15px !important; }
          body .slider-container #slider .container .carousel-inner .item .small-res {
            font-family: "Roboto", sans-serif; }
            body .slider-container #slider .container .carousel-inner .item .small-res span.top-text {
              color: #aaa8a8;
              font-size: 12px;
              text-transform: uppercase; }
            body .slider-container #slider .container .carousel-inner .item .small-res h2 {
              color: #000;
              font-size: 16px;
              text-align: left;
              font-weight: 400;
              margin: 10px 0 15px 0 !important; }
              body .slider-container #slider .container .carousel-inner .item .small-res h2 span {
                color: #000;
                font-weight: 300; }
              body .slider-container #slider .container .carousel-inner .item .small-res h2 span.br-text {
                font-size: 16px;
                text-transform: lowercase;
                margin-bottom: 0px !important; }
            body .slider-container #slider .container .carousel-inner .item .small-res .result-btm {
              font-size: 16px;
              padding: 10px 10px;
              width: 100%;
              background-color: #ebe6e6;
              font-weight: 300;
              margin: 10px 0 0 0;
              border-radius: 5px; }
  body .paras {
    margin-top: 150px;
    margin-bottom: 70px; }
    body .paras p {
      text-align: center;
      text-transform: lowercase;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #020100;
      font-size: 24px; }
  body .hexagons {
    margin-bottom: 10px; }
    body .hexagons .left-hexagons .nav-tabs {
      border: none;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; }
      body .hexagons .left-hexagons .nav-tabs li {
        padding: 0px 15px; }
        body .hexagons .left-hexagons .nav-tabs li a {
          color: #000 !important;
          border: none;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          cursor: pointer;
          padding: 5px !important;
          outline: none !important; }
          body .hexagons .left-hexagons .nav-tabs li a:hover {
            background-color: #ffffff !important; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-top1 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-bottom: 35px solid #6598e6;
            border-right: 56px solid transparent; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-top2 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-bottom: 35px solid #f8cd12;
            border-right: 56px solid transparent; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-top3 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-bottom: 35px solid #1abc9c;
            border-right: 56px solid transparent; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-top4 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-bottom: 35px solid #e67624;
            border-right: 56px solid transparent; }
          body .hexagons .left-hexagons .nav-tabs li a .object1 {
            width: 113px;
            height: 65px;
            background-color: #6598e6;
            padding: 8px 0px;
            color: #ffffff; }
          body .hexagons .left-hexagons .nav-tabs li a .object2 {
            width: 113px;
            height: 65px;
            background-color: #f8cd12;
            padding: 8px 0px;
            color: #ffffff;
            font-size: 43px; }
          body .hexagons .left-hexagons .nav-tabs li a .object3 {
            width: 113px;
            height: 65px;
            background-color: #1abc9c;
            padding: 8px 0px;
            color: #ffffff;
            font-size: 43px; }
          body .hexagons .left-hexagons .nav-tabs li a .object4 {
            width: 113px;
            height: 65px;
            background-color: #e67624;
            padding: 8px 0px;
            color: #ffffff;
            font-size: 43px; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-bottom1 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-top: 35px solid #6598e6;
            border-right: 56px solid transparent; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-bottom2 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-top: 35px solid #f8cd12;
            border-right: 56px solid transparent; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-bottom3 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-top: 35px solid #1abc9c;
            border-right: 56px solid transparent; }
          body .hexagons .left-hexagons .nav-tabs li a #triangle-bottom4 {
            width: 0;
            height: 0;
            border-left: 56px solid transparent;
            border-top: 35px solid #e67624;
            border-right: 56px solid transparent; }
      body .hexagons .left-hexagons .nav-tabs .active {
        border-bottom: 1px solid #790000 !important; }
    body .hexagons .left-hexagons .tab-content {
      margin-top: 30px; }
      body .hexagons .left-hexagons .tab-content .tab-pane .back-grey {
        background-color: #e8e8e8;
        width: 100%;
        max-height: 1000px;
        height: auto; }
        body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .top-two {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: distribute;
          -moz-box-pack: distribute;
          box-pack: distribute;
          -webkit-justify-content: space-around;
          -moz-justify-content: space-around;
          -ms-justify-content: space-around;
          -o-justify-content: space-around;
          justify-content: space-around;
          -ms-flex-pack: distribute;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          margin-bottom: 40px;
          padding-top: 20px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .top-two h2 {
            font-size: 35px;
            font-weight: 100;
            color: #949191;
            margin-bottom: 30px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .top-two ol {
            padding-left: 30px !important; }
            body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .top-two ol li {
              font-size: 16px;
              color: #706e6e;
              margin-bottom: 7px;
              width: 200px;
              word-wrap: break-word; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .top-two div:nth-child(2) {
            width: 1px;
            height: auto;
            background-color: #949191;
            margin: 20px 0px; }
        body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .border-middle {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: distribute;
          -moz-box-pack: distribute;
          box-pack: distribute;
          -webkit-justify-content: space-around;
          -moz-justify-content: space-around;
          -ms-justify-content: space-around;
          -o-justify-content: space-around;
          justify-content: space-around;
          -ms-flex-pack: distribute;
          margin-bottom: 15px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .border-middle div {
            height: 1px;
            width: 90%;
            background-color: #949191;
            margin: 0px 30px; }
        body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .bottom-two {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: distribute;
          -moz-box-pack: distribute;
          box-pack: distribute;
          -webkit-justify-content: space-around;
          -moz-justify-content: space-around;
          -ms-justify-content: space-around;
          -o-justify-content: space-around;
          justify-content: space-around;
          -ms-flex-pack: distribute;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          padding-bottom: 30px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .bottom-two h2 {
            font-size: 35px;
            font-weight: 100;
            color: #949191;
            margin-bottom: 30px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .bottom-two ol {
            padding-left: 30px !important; }
            body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .bottom-two ol li {
              font-size: 16px;
              color: #706e6e;
              margin-bottom: 7px;
              width: 200px;
              word-wrap: break-word; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .bottom-two div:nth-child(2) {
            width: 1px;
            height: auto;
            background-color: #949191;
            margin: 20px 0px; }
        body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .news-short {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          padding: 0.5px 20px;
          margin-bottom: 25px;
          background-color: rgba(202, 201, 201, 0.3); }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .news-short:first-child {
            margin-top: 10px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .news-short h3 {
            font-size: 20px;
            text-transform: capitalize;
            color: #5b5656; }
          body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .news-short span {
            font-size: 14px;
            margin-bottom: 10px;
            color: #206bde; }
            body .hexagons .left-hexagons .tab-content .tab-pane .back-grey .news-short span i {
              margin-right: 5px; }
      body .hexagons .left-hexagons .tab-content .tab-pane .total-flexbox {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: space-around;
        -moz-box-align: space-around;
        box-align: space-around;
        -webkit-align-items: space-around;
        -moz-align-items: space-around;
        -ms-align-items: space-around;
        -o-align-items: space-around;
        align-items: space-around;
        -ms-flex-align: space-around;
        height: 625px;
        overflow-y: scroll;
        overflow-x: hidden; }
        body .hexagons .left-hexagons .tab-content .tab-pane .total-flexbox .one-fix {
          background-color: rgba(202, 201, 201, 0.3);
          padding: 0px 20px 25px 20px !important;
          margin: 0px 0px 16px 0px !important;
          text-transform: capitalize; }
          body .hexagons .left-hexagons .tab-content .tab-pane .total-flexbox .one-fix h3 span {
            text-transform: lowercase;
            color: #5b5656; }
          body .hexagons .left-hexagons .tab-content .tab-pane .total-flexbox .one-fix:last-child {
            margin-bottom: 0px !important; }
          body .hexagons .left-hexagons .tab-content .tab-pane .total-flexbox .one-fix p {
            color: #206bde;
            margin: 0 0 0 !important; }
          body .hexagons .left-hexagons .tab-content .tab-pane .total-flexbox .one-fix i {
            text-transform: lowercase;
            font-size: 12px;
            color: #999999; }
      body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: space-around;
        -moz-box-align: space-around;
        box-align: space-around;
        -webkit-align-items: space-around;
        -moz-align-items: space-around;
        -ms-align-items: space-around;
        -o-align-items: space-around;
        align-items: space-around;
        -ms-flex-align: space-around;
        max-height: 625px;
        overflow-y: scroll;
        overflow-x: hidden; }
        body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result {
          padding: 0px 20px;
          margin: 0px 0px 18px 0px;
          background-color: rgba(202, 201, 201, 0.3); }
          body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result a {
            text-decoration: none;
            color: #6F736E !important;
            font-family: "Roboto", sans-serif; }
            body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result a:hover {
              color: #1abc9c !important;
              transition: all 0.1s ease-in-out; }
            body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result a h2 {
              font-size: 20px;
              text-transform: capitalize; }
              body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result a h2 span {
                text-transform: lowercase;
                color: #6F736E; }
              body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result a h2 i {
                font-size: 16px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result p {
            text-transform: capitalize;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 18px; }
          body .hexagons .left-hexagons .tab-content .tab-pane .total-flexboxl .one-result:last-child {
            margin-bottom: 0 !important; }
    body .hexagons .right-stuff {
      padding-top: 201px; }
      body .hexagons .right-stuff #slider1 {
        background-color: #e88033; }
        body .hexagons .right-stuff #slider1 #slider-carousel1 {
          padding: 20px 10px 50px 10px;
          display: flex;
          flex-direction: column-reverse; }
          body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-indicators {
            display: none; }
          body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner {
            z-index: 4;
            margin-top: -55px; }
            body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item {
              min-height: 238px; }
              body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item .heading {
                text-align: center;
                color: #ffffff;
                padding: 0px !important;
                margin: 0px 0px 20px 0px !important; }
              body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item table {
                color: #fff;
                font-family: "Roboto", sans-serif;
                font-weight: 100;
                width: 100% !important; }
                body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item table tr {
                  text-align: center;
                  border-bottom: 1px dashed #bc733f;
                  width: 100%; }
                  body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item table tr h4 {
                    font-weight: 100;
                    font-size: 20px; }
                  body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item table tr td {
                    text-align: center;
                    margin: 5px 5px 8px 0px;
                    padding: 6px 6px;
                    max-width: 60px; }
                  body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item table tr:last-child {
                    border-bottom: none; }
                body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-inner .item table:first-child {
                  margin-bottom: 30px; }
          body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-controls {
            max-width: 90%;
            margin: 0 auto !important;
            background-color: #b4672f;
            padding: 10px 20px;
            width: 100%;
            display: flex;
            justify-content: space-between; }
            body .hexagons .right-stuff #slider1 #slider-carousel1 .carousel-controls a {
              color: #fff !important;
              z-index: 10 !important;
              font-size: 20px;
              outline: none !important; }
  body .footer footer {
    min-height: 100vh;
    background-size: cover;
    width: 100%;
    background-image: url(../images/footerback.png);
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    position: relative; }
    body .footer footer .container {
      padding: 36px 0 0 0; }
      body .footer footer .container .top-two {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        body .footer footer .container .top-two .box-logos {
          max-width: 275px;
          width: 100%;
          margin-bottom: 0px; }
          body .footer footer .container .top-two .box-logos .box {
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 31px;
            font-weight: 300;
            background-color: #7cb375;
            box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
            margin-bottom: 30px;
            border-radius: 8px;
            padding: 10px 0 10px 0;
            text-transform: uppercase; }
          body .footer footer .container .top-two .box-logos .image {
            width: 100%; }
            body .footer footer .container .top-two .box-logos .image img {
              margin: 0 auto;
              display: block !important; }
            body .footer footer .container .top-two .box-logos .image .him {
              margin-bottom: 20px; }
          body .footer footer .container .top-two .box-logos:nth-child(2) .box {
            margin-bottom: 50px; }
      body .footer footer .container .bottom-one .box-logos {
        max-width: 490px;
        width: 100%;
        margin: 0 auto; }
        body .footer footer .container .bottom-one .box-logos .box {
          max-width: 275px;
          width: 100%;
          text-align: center;
          color: #fff;
          font-size: 31px;
          font-weight: 300;
          background-color: #7cb375;
          box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
          margin: 0 auto 34px auto;
          border-radius: 8px;
          padding: 10px 0 10px 0;
          text-transform: uppercase; }
        body .footer footer .container .bottom-one .box-logos .image {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -moz-box-pack: justify;
          box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          -ms-justify-content: space-between;
          -o-justify-content: space-between;
          justify-content: space-between;
          -ms-flex-pack: justify;
          -webkit-box-lines: multiple;
          -moz-box-lines: multiple;
          box-lines: multiple;
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          body .footer footer .container .bottom-one .box-logos .image img {
            margin-bottom: 30px; }
    body .footer footer .footer-bottom {
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 400;
      font-size: 24px;
      position: absolute;
      bottom: 0px;
      width: 100%; }
  body .sboard {
    clear: both;
    background-color: #898a8a;
    min-height: 100vh;
    font-family: "Lato", sans-serif; }
    body .sboard .hed {
      background-color: #ffffff;
      padding: 10px 20px;
      margin-bottom: 5px; }
    body .sboard .resu {
      background-color: #ffffff;
      padding: 10px 20px;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 700; }
    body .sboard .container-fluid .one-team .score-head {
      color: #000;
      font-size: 16px;
      background-color: #d4d5d5;
      padding: 5px 10px; }
      body .sboard .container-fluid .one-team .score-head .score {
        font-weight: 700; }
    body .sboard .container-fluid .one-team table {
      width: 100%;
      min-height: 300px;
      border-spacing: 15px;
      text-align: left; }
      body .sboard .container-fluid .one-team table thead {
        color: #ffffff; }
        body .sboard .container-fluid .one-team table thead tr td {
          padding: 5px 10px; }
      body .sboard .container-fluid .one-team table tbody tr {
        background-color: #fff; }
        body .sboard .container-fluid .one-team table tbody tr td {
          padding: 5px 12px !important; }
          body .sboard .container-fluid .one-team table tbody tr td:first-child {
            font-weight: 700; }
      body .sboard .container-fluid .one-team table tbody .wicket-take {
        background-color: #e9ecec;
        width: 100%;
        text-align: left;
        font-weight: 400; }
        body .sboard .container-fluid .one-team table tbody .wicket-take td:first-child {
          font-weight: 400; }
    body .sboard .container-fluid .one-team .extras {
      background-color: #ffffff;
      padding: 5px 10px;
      width: 99.9%;
      margin: 5px 0 5px 0;
      border-bottom: 1px solid #abc; }
    body .sboard .container-fluid .one-team .total {
      background-color: #fff;
      border-bottom: 1px solid #abc;
      padding: 5px 10px;
      width: 99.9%;
      font-weight: 700; }
    body .sboard .container-fluid .one-team .dnbat {
      background-color: #fff;
      border-bottom: 1px solid #abc;
      padding: 5px 10px;
      width: 99.9%;
      font-weight: 700;
      margin: 5px 0 5px 0; }
      body .sboard .container-fluid .one-team .dnbat span {
        font-weight: 400;
        margin-right: 20px; }
    body .sboard .container-fluid .one-team .panel-group .panel-default .panel-heading {
      width: 100%;
      padding: 0px !important; }
      body .sboard .container-fluid .one-team .panel-group .panel-default .panel-heading .panel-title {
        width: 100%;
        cursor: pointer;
        padding: 10px 15px; }
        body .sboard .container-fluid .one-team .panel-group .panel-default .panel-heading .panel-title a {
          text-decoration: none;
          outline: none;
          width: 100%; }
    body .sboard .container-fluid .one-team .panel-group .panel-default .panel-collapse .panel-body table thead {
      background-color: #898a8a; }
    body .sboard .container-fluid .one-team .panel-group .panel-default .panel-collapse .panel-body table tbody tr {
      text-transform: capitalize; }
    body .sboard .container-fluid .one-team .panel-group .panel-default .panel-collapse .panel-body table tbody .dif {
      background-color: #e9ecec; }

/*# sourceMappingURL=style.css.map */
